
  /* Clases Especificas */
.imggallery{
    width: 100%;
    margin-top: 10px;
}
#mapa {
    width: 100%;
    height: 300px;
    }
.title{
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 30px;
}
body {
    font-family: 'Raleway', sans-serif;
}

section{
    background-color: #f0f0ef;
}

form {
    margin: 0px 10px 20px;
}

.content {
    width: 800px;
    margin: 0 auto;
    height: 350px;
    padding: 10px;
    background-color: #CCCCCC;
}
/* Helpers */

.center-y {
    transform: translateY(120%);
}
.white{
    color: white;
}
.inline {
    display: inline;
}

.bold {
    font-weight: 600;
}

.textcenter {
    text-align: center;
}

.left {
    padding-left: 0px;
}

.right {
    padding-right: 0px;
}



.textuppercase {
    text-transform: uppercase;
}

.view-mobile {
    display: block;
}

.view-desktop {
    display: none;
}



.btn-block {
    margin: 10px 0px;
}



/* section 1 */

.splash {
    background-color: #cc3366;
    height: 100vh;
}
.input-ul:after{
    content: "Filtrar Busqueda";
    left: 10px;
    top: 8px;
    position: absolute;
    color: #9d9d9d;  
}


/* @media querys */

@media (min-width: 768px) {

    /* ****** */
    .view-mobile {
        display: none;
    }
    .view-desktop {
        display: block;
    }
    .modal-sm {
        width: 480px;
    }
    .modal-lg {
        width: 480px;
    }
}

