/* Clases Especificas */

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Helpers */

.image_gallery {
    height: 200px;
    margin-bottom: 10px;
}

.search {
    margin-top: 10px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgmodal {
    width: 120px;
    margin-left: 40px;
}

.box-images {
    margin-bottom: 10px;
}

section {
    background-color: #f0f0ef;
}

.bold {
    font-weight: bold;
}

.textcenter {
    text-align: center;
}


/* sections*/

.splash {
    background-color: #cc3366;
    height: 100vh;
}

.input-ul:after {
    content: "Filtrar Busqueda";
    left: 10px;
    top: 8px;
    position: absolute;
    color: #9d9d9d;
}

.imggallery {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

#mapa {
    width: 100%;
    height: 300px;
}

.title {
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 30px;
}

.content {
    width: 800px;
    margin: 0 auto;
    height: 350px;
    padding: 10px;
    background-color: #CCCCCC;
}